on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "hellsactive"
    write /sys/devices/system/cpu/cpufreq/hellsactive/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpufreq/hellsactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/hellsactive/align_windows 1
    write /sys/devices/system/cpu/cpufreq/hellsactive/closest_freq_selection 0
    write /sys/devices/system/cpu/cpufreq/hellsactive/freq_calc_thresh 3000000
    write /sys/devices/system/cpu/cpufreq/hellsactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/hellsactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpufreq/hellsactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/hellsactive/max_freq_hysterisis 0
    write /sys/devices/system/cpu/cpufreq/hellsactive/min_sample_time 80000
    write /sys/devices/system/cpu/cpufreq/hellsactive/target_loads 90
    write /sys/devices/system/cpu/cpufreq/hellsactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/hellsactive/timer_slack 80000
    write /sys/devices/system/cpu/cpufreq/hellsactive/two_phase_freq "728000,728000,728000,728000"
    write /sys/devices/system/cpu/cpufreq/hellsactive/use_freq_calc_thresh 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 268800
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 268800
    write /sys/module/msm_mpdecision/parameters/enabled 0
    write /sys/module/intelli_plug/parameters/cpu_nr_run_threshold 722
    write /sys/module/intelli_plug/parameters/intelli_plug_active 0
    write /sys/module/intelli_plug/parameters/nr_possible_cores 4
    write /sys/module/intelli_plug/parameters/nr_run_hysteresis 12
    write /sys/module/intelli_plug/parameters/nr_run_profile_sel 0
    write /sys/module/intelli_plug/parameters/screen_off_max 268800
    write /sys/module/intelli_plug/parameters/touch_boost_active 0
    write /sys/module/cpu_boost/parameters/boost_ms 40
    write /sys/module/cpu_boost/parameters/hotplug_boost N
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:268800 1:268800 2:268800 3:268800"
    write /sys/module/cpu_boost/parameters/load_based_syncs Y
    write /sys/module/cpu_boost/parameters/migration_load_threshold 30
    write /sys/module/cpu_boost/parameters/min_input_interval 150
    write /sys/module/cpu_boost/parameters/sync_threshold 0
    write /sys/module/cpu_boost/parameters/wakeup_boost N
    write /sys/devices/system/sched_mc_power_savings 0
